<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Studio N: Online Auction</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="/img/fw-favicon.png">
  <link href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
</head>
<body>
  <header class="center header">
    <div class="title">
        <img class="logo" src="img/studio-n-logo.svg" alt="logo">
    </div>
    <div class="title">
      <img src="img/online-auction.svg" alt="online auction">
    </div>
  </header>

  <main>

 {{content}}

<!--
    <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
-->

  </main>

<script src="js/index.js"></script>

</body>
</html>
